.card-text{
    color: green;
    font-weight: 700;
}
.card-title{
    font-weight: 800;
}
.nidhi{
    margin-top: 25px;
}
.dhwani{
    margin-top: 25px;
}

.fixed-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}


